.reset_button {
    width: fit-content;
    background-color: red; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s;
}

.reset_button:hover {
    background-color: gray;
    color: red;
    cursor: pointer;
}

.counter {
    width: 200px;
    height: 130px;
    justify-content: center;
    margin: 30px auto 0;
    text-align: center;
}

.button_container {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin: 0 auto;
}

.player_button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s;
}

.player_button:hover {
    background-color: gray;
    color: #4CAF50;
    cursor: pointer;
}

.players_counter {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.who_won {
    text-align: center;
}

.match_img {
    width: 100px;
}
