.computer {
  width: 180px;
  height: 150px;
  margin: 0 auto;
  background-image: url(images/computer.png);
  background-size: cover;
}

.board {
  width: calc(100vw - 300px);
  height: 350px;
  margin: 20px auto;
  background-color: gray;
  border-radius: 10px;
}

.player {
  width: 180px;
  height: 150px;
  margin: 0 auto;
  background-image: url(images/computer.png);
  background-size: cover;
}

.start_button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s;
}

.start_button:hover {
  background-color: gray;
  color: #4CAF50;
  cursor: pointer;
}

.reset_button {
  background-color: red; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s;
}

.reset_button:hover {
  background-color: gray;
  color: red;
  cursor: pointer;
}

.counter {
  width: 200px;
  height: 150px;
  justify-content: center;
  margin: 10px auto 0;
  text-align: center;
}

.button_container {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin: 0 auto;
}

.player_button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.3s;
}

.player_button:hover {
  background-color: gray;
  color: #4CAF50;
  cursor: pointer;
}

.players_counter {
  display: flex;
  justify-content: center;
}

.who_won {
  text-align: center;
}
